/* General Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  min-width: 40rem;
  margin: auto;
}

/* Log-in Page Styles */
.log-in-page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.enter-button {
  width: 10px;
}

.third {
  display: flex;
  gap: 13px;
  justify-content: center;
  align-items: center;
}

.third img {
  width: 50px;
  background: burlywood;
  height: 40px;
}

.third input {
  border: none;
  outline: none;
  width: 130px;
  height: 45px;
  border-radius: 30px;
  text-align: center;
  font-size: 20px;
}

.logo a {
  width: 10px;
}

.logo a img {
  width: 100%;
}

.log-in-page div p {
  font-size: 25px;
}

/* Main Account Styles */
.main-account {
  margin: auto;
  opacity: 0;
  transition: opacity 5s;
}

.total-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 6px;
  margin: auto;
}

.date-of-balance p {
  font-size: 20px;
  display: flex;
  padding-top: 10px;
}

.total-balance {
  font-size: 55px;
}

.transaction-holder {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.transaction-holder > * {
  flex-basis: auto;
  flex-shrink: 2;
  flex-grow: 1;
}

.transaction-container {
  background: white;
  flex-basis: 50%;
  overflow-y: scroll;
  border-radius: 10px;
}

.transaction-container::-webkit-scrollbar {
  display: none;
}

.inside-transaction-container {
  display: flex;
  justify-content: space-around;
  border-bottom: 0.5px solid rgb(198, 194, 188);
  padding: 25px;
  width: 100%;
}

.status-of-transaction {
  background: gree
